*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width:100vw;
}

.nav1{
    width: 100vw;
    height: 80px;
    background-color: #EB6920;
    display: flex;
    align-items: center;
    justify-content: right;
}


.select-Language{
    background: none;
    color:#fff;
    background: none;
    border: none;
    font-family: 'Adamina', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}

ul{
    list-style: none;
}

.options-nav1{
    display: flex;
    align-items: center;
    background:none;
    justify-content: space-around;
    width: 15%;
}

.select-religion{
    background: none;
    color:#fff;
    background: none;
    border: none;
    font-family: 'Adamina', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}

.search-button{
    background: none;
    color:#fff;
    background: none;
    border: none;
    font-family: 'Adamina', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}


/* .button-burger{
    
} */
.navmiddle{
    
    position: absolute;
    width: 100vh;
    height: 160px;
    top:0;
    left: 90px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: left;
}

.name-goverment{
  
    align-items: center;
    color: #FFF;
    font-family: 'Adamina', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}





.namelist{
height: 100px;
color: #000;
font-family: 'Adamina', serif;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: flex-start;
justify-content: space-around;
flex-direction: column;
}

.namelist li{
    display: block;
    justify-content: space-around;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.asoka{
width:38px;
height: 40px;
flex-shrink: 0;
border-radius: 45px;
margin-left: 20px; 
background: url(<path-to-image>), lightgray 40% / cover no-repeat;
}

.image-nav{
width: 118.354px;
height: 110.658px;
flex-shrink: 0;
border-radius: 158.658px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.nav2{
    width: 100vw;
    height: 80px;
    background-color: #0B1530;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-burger{
    background: none;
    margin-right: 60px;
    border: none;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}



.namelist {
    list-style-type: none;
    padding: 0;
}

.namelist li {
    display: flex;
    align-items: center;
}

.name-government {
    margin-left: 10px; /* Adjust the margin as needed */
}




.sidenav {
  height: 100%;
  width: 14vw;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #1C072DFA;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.foot{
  
    background-color: #072D0B;
    width: 100vw;
    height:9.5rem;
}
.pib{
    width: 4em;
    height: 4em;
    border-radius: 40px;
    margin-top: 1em;
}
.foot-1,.foot-2{
    display: flex;
    width:100vw;
    justify-content: space-between;
    padding-left: 0%;
   
}

.foot-2{
    height: 60px;
    align-items: center !important;
    justify-content: space-around !important;
}

.foot-2 p{
    color: #FFF;
    font-family: 'Adamina', serif; 
}
.gov{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    margin-top: 0%;
    font-size: medium;
    margin-left: 1.2em;
    margin-top: 2em;
}
.pibinfo{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
.pibinfo1{
    display: flex;
    flex-direction: row;
}
.pibinfo1 p{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    margin-top: 0%;
    font-size: medium;
    margin-top: 2em;
    margin-left: 4em;
}

.line{
    margin-top: 0.8em;
}
.lines{
    width: 95em;
    margin-left: 4em;
}
.follow{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    margin-top: 1%;
    font-size:  medium;
    margin-left: 4em;
}
.privacy{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    font-size:  medium;
    margin-left: 8em;
}
.access{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    font-size:  medium;
    margin-left: 8em;
}
.copy{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    font-size:  medium;
    margin-left: 16em;
}