*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width:100vw;
}

:root{
    --navHeight: 80px;
    --side-navHeight: calc(100vh - var(--navHeight));
    --nav-listHeight:calc((var(--side-navHeight) - 2.5vh));
    --right-sectionwidth: calc(100vw - 14vw);
}

.nav1{
    width: 100vw;
    height: 40px;
    background-color: #0B1530;
    display: flex;
    align-items: center;
    justify-content: right;
}


.select-Language{
    background: none;
    color:#fff;
    background: none;
    border: none;
    font-family: 'Adamina', serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}

ul{
    list-style: none;
}

.options-nav1{
    display: flex;
    align-items: center;
    background:none;
    justify-content: space-around;
    width: 15%;
}

.select-religion{
    background: none;
    color:#fff;
    background: none;
    border: none;
    font-family: 'Adamina', serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}

.search-button{
    background: none;
    color:#fff;
    background: none;
    border: none;
    font-family: 'Adamina', serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}



.navmiddle{
    position: absolute;
    width: 100vh;
    height: 80px;
    top:0;
    left: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: left;
    /* justify-content: space-between; */
}

.name-goverment{
  
    align-items: center;
    color: #fff;
    font-family: 'Adamina', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.namelist{
height: 30px;
color: #fff;
font-family: 'Adamina', serif;
font-size: 20px;
margin-left: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: flex-start;
justify-content: space-around;
flex-direction: column;
}

.namelist li{
    display: block;
    justify-content: space-around;
 
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.asoka{
width:38px;
height: 40px;
flex-shrink: 0;
border-radius: 45px;
margin-left: 20px; 
background: url(<path-to-image>), lightgray 40% / cover no-repeat;
}

.image-nav{
width: 60.354px;
height: 57.658px;
flex-shrink: 0;
border-radius: 190.658px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.nav2{
    width: 100vw;
    height: 40px;
    background-color: #0B1530;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-burger{
    background: none;
    margin-right: 60px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}



.namelist {
    list-style-type: none;
    padding: 0;
}

.namelist li {
    display: flex;
    align-items: center;
}

.name-government {
    margin-left: 10px; /* Adjust the margin as needed */
}




.sidenav {
    position: absolute;
    z-index: -1;
  height: 100%;
  width: 14vw;
  position: fixed;
  z-index: 999;
  left: 0;
  background-color: #1C072DFA;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.foot{
  
    background-color: #072D0B;
    width: 100vw;
    height:9.5rem;
}
.pib{
    width: 4em;
    height: 4em;
    border-radius: 40px;
    margin-top: 1em;
}
.foot-1,.foot-2{
    display: flex;
    width:100vw;
    justify-content: space-between;
    padding-left: 0%;
   
}

.foot-2{
    height: 60px;
    align-items: center !important;
    justify-content: space-around !important;
}

.foot-2 p{
    color: #FFF;
    font-family: 'Adamina', serif; 
}
.gov{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    margin-top: 0%;
    font-size: medium;
    margin-left: 1.2em;
    margin-top: 2em;
}
.pibinfo{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
.pibinfo1{
    display: flex;
    flex-direction: row;
}
.pibinfo1 p{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    margin-top: 0%;
    font-size: medium;
    margin-top: 2em;
    margin-left: 4em;
}

.line{
    margin-top: 0.8em;
}
.lines{
    width: 95em;
    margin-left: 4em;
}
.follow{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    margin-top: 1%;
    font-size:  medium;
    margin-left: 4em;
}
.privacy{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    font-size:  medium;
    margin-left: 8em;
}
.access{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    font-size:  medium;
    margin-left: 8em;
}
.copy{
    width: 14em;
    height: 1.5em;
    color: #FFF;
    font-family: 'Adamina', serif;
    font-size:  medium;
    margin-left: 16em;
}

.parent-section{
    height: calc(100vh - var(--navHeight));;
    width: 100vw;
    display: flex;
}


.side-nav{
    width: 13.3vw;
    height: var(--nav-listHeight);
    border-radius: 8px;   
    border: 0.1px solid #a8a6a6;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 15px 2px 30px 0px rgba(0, 0, 0, 0.12);
   
}


.Dashboard-heading{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-dashboard-list{
    width: 100%;
    height: 28rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}


.admin-dashboard-list li{
    list-style: none;
    /* background-color: rgba(11, 21, 48, 0.98); */
    width: 75%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.side-nav-active{
    background-color: rgba(11, 21, 48, 0.98);;
    color: #ffffff !important;
}

.active-a{
    color: #ffffff !important;
}



.admin-dashboard-list a{
    width: 80%;
    display: flex;
    justify-content: space-between;
   
text-decoration: none;
color: #000;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.105px;
    
}

.fa{
    font-size: 20px;
}

.right-section{
    height: var(--nav-listHeight);
    width:  var(--right-sectionwidth);
  
}

.pib_cover{
    object-fit: cover;
    z-index: -1;
    width: var(--right-sectionwidth);
height: 20vh;
flex-shrink: 0;
    border: 1.051px solid #ffffff;
box-shadow: 0px 4.20286px 8.40571px 0px rgba(247, 246, 246, 0.959) inset, 0px 4.20286px 42.02857px 0px rgba(238, 237, 237, 0.959);
backdrop-filter: blur(52.53571701049805px);
}

.content-handler{
    width: 100%;
    height: calc(var(--nav-listHeight) - 15vh);
    z-index: 5;
    display: flex;
    justify-content: center;
    
}

.contents {
    /* border-radius: 10px; */
    /* border: 0.5px solid #c5c1c1; */
    /* background: #FFF;
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px); */
    width: 70%;
    height: calc(var(--nav-listHeight) - 15vh);
    /* background-color: #ffffff; */
    z-index: 989;
    position: absolute;
    bottom: 2rem;
    overflow-y: scroll; 
   
    box-sizing: border-box;
}

.news-card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    z-index: 999;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    /* border: 1px  solid #000; */
    box-shadow: 15px 2px 30px 0px rgba(0, 0, 0, 0.25);
}

.header-card{

    box-shadow: 1px 0px 0px 0px rgba(230, 229, 229, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #3f040e;
    justify-content: center;
}

.news-tone-card{
    width: 100%;
    height: 30px;
    justify-content: space-around;
    align-items: center;

    display: flex;
    
}

.news-contents-list{
width: 60%;
min-height: 100%;
display: flex;
flex-direction: column;
min-height: 8.5rem;
justify-content: space-around;
}

.news-image-card{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tone-card{
    width: 27%;
    height: 100%;
    align-items: center;

    display: flex;
    justify-content: space-between;
}

.positive-block,.neutral-block,.negative-block{
    width: 70%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.positive-block{
    background-color: #259323;
}
.negative-block{
background-color: #D13647;
}
.neutral-block{
    background-color: #1C3470;
}
.news-image{
    object-fit: cover;
width: 70%;
height: 60%;
flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.tone-percentage{
    margin-left: 10px;
    color: #000;   
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    
}

.news-content-title{
    color: #0B1530;
    font-family: 'Inter', sans-serif;
font-size: 16px;

font-style: normal;
font-weight: 700;
line-height: 26px;
margin-top: 1rem;
margin-bottom: 1rem;
}

.news-content-publisher{
    color: #FF001B;
    font-family: 'Inter', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.side-4{
    display: flex;
    flex-direction: row;
    width: 70%;
}

