{% extends 'pib_nav.html' %}

{% load static %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Adamina&family=Inter:wght@200;400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Adamina&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Adamina&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Adamina&family=Inter&family=Roboto&display=swap" rel="stylesheet">


<section class='parent-section'>
  <div class='side-nav'>
    <ul class='admin-dashboard-list'>
      <li class='side-nav-active '><a class='active-a' href="{% url 'admin_dashboard' %}"><i class="fa fa-table-columns"></i></i>
        Dashboard</a></li>
        <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-laptop"></i>Media Websites</a></li>
        <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-circle-play"></i>Youtube Videos</a></li>
            <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-newspaper"></i>E-prints</a></li>
            <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-newspaper"></i>Social Media Analysis</a></li>
            <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-chart-line"></i>Future Trends</a></li>
            <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-users"></i>Reports</a></li>
            
    </ul>
</div>

<div class='right-section'>
    <img class='pib_cover' src='{% static  "pib_cover_new.png" %}' alt='loading'/>
    <div class='content-handler'>
      <div class='contents article_contents'>
        {% if summary %}
        <div class='article-header'>
          <h1 class='article-title'>{{summary.Title}}</h1>
          <img class='article-image' src='{{summary.Image}}' alt='loading'/>
        </div>
        <div class='summary-news'>
          <h1 class="summary-title">Summary</h1>
          <p class="summary-content">{{summary.Summary_article}}</p>
        </div>
        <div class='news-text'>
          <h1 class="summary-title">Article</h1>
          <p class="text-content">{{summary.main_text}}</p>
        </div>
        <div class='news-tone-cards'>
            <div class="row">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <h5 class="card-title">First</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                  </div>
            </div>
            <div class="row">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <h5 class="card-title">Second</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                  </div>
            </div>
            <div class="row">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <h5 class="card-title">Third</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                  </div>
            </div>
      </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script>
            M.AutoInit();
            document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
          </script>
{% endif %}
</div>
</div>
</div>
</section>

<style>
  .article-header{
    display: flex;flex-direction: column;align-items: center;
  }
  .article-title{
    font-family: 'Inter', sans-serif;margin-top: 20px;padding-left: 70px;font-size: 30px;color: #3f040e;font-style: normal;line-height: normal;font-weight: 600;
    width: 90%;
  }
  .article-image{
    width: 80%;margin-top: 20px;margin-bottom: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;
  }
  .news-text{
    display: flex;align-items: center;justify-content: center;flex-direction: column;
  }
  .text-content{
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-align: justify;
  }
  .summary-news{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items:center;
  }
  .summary-content{
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #11009E;
    font-weight: 500;
    line-height: 26px;
    text-align: justify;
    margin-bottom: 20px;
  }
  .summary-title{
    width: 80%;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .news-tone-cards{
    display: flex;

  }
</style>

{% endblock %}