{% extends 'pib_nav.html' %}

{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css2?family=Adamina&family=Inter:wght@200;400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% block content %}


<section class='parent-section'>
<div class='side-nav'>
    <ul class='admin-dashboard-list'>
        <li class='side-nav-active '><a class='active-a' href="{% url 'admin_dashboard' %}"><i class="fa fa-table-columns"></i></i>
            Dashboard</a></li>
            <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-laptop"></i>Media Websites</a></li>
            <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-circle-play"></i>Youtube Videos</a></li>
            <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-newspaper"></i>E-prints</a></li>
        <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-newspaper"></i>Social Media Analysis</a></li>
        <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-chart-line"></i>Future Trends</a></li>
        <li><a href="{% url 'newsanalysis' %}"><i class="fa fa-users"></i>News Analysis</a></li>
        
    </ul>
</div>

<div class='right-section'>
    <img class='pib_cover' src='{% static  "pib_cover_new.png" %}' alt='loading'/>
    {% comment %} <img class='pib_cover'> {% endcomment %}
    <div class='content-handler'>
    <div class='contents'>
        {% comment %}  {% endcomment %}
     
        <div class='news-card header-card'>
            <h1 class='latest-releases'>E-prints</h1>
            <span>___________________________</span>
            <form    method="POST">
        {% csrf_token %}
        <input type="file" multiple>
        <p style="color: black;">Drag your files here or click in this area.</p>
        <button type="submit" href="{% url 'eprint' %}">Upload</button>
        </form>
        </div>
        <style>
            form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
}
form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
form button:hover{
  background: #149174;
	color: #0C5645;
}
form button:active{
  border:0;
}
        </style>
        <script>
            $(document).ready(function(){
  $('form input').change(function () {
    $('form p').text(this.files.length + " file(s) selected");
  });
});
        </script>

</div>
</div>
</div>
</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}