

<!-- block content -->
{% extends 'base.html'%}
{% block content %}



{% for cluster in clusters %}
<div class="grid grid-cols-3 gap-3 px-56 mb-10">
  <div class="">
      <img src="{{ cluster.image }}" alt="loading" height="400" width="500" class="rounded-xl">
  </div>

  <div class="col-span-2 ml-4">
    <b class="text-3xl"><a href="{% url 'cluster_related' cls_id=cluster.id %}">{{cluster.title}}</a></b>
    <p class="opacity-60 mt-2 mb-4">{{cluster.published_date}}</p>
    <p class="mb-4"><Strong>{{cluster.publisher}}</Strong></p>
      <p>{{ cluster.description }}</p>
      <a href="#" class="text-blue-500 underline">Read more</a>
  </div>

</div>
{% endfor %}


<!-- end block -->
{% endblock %}