{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link icon="{% static 'pib.jpg' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Adamina&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>
    <nav>



<div class='navmiddle'>
    <img class='image-nav' src='{% static "pib.jpg" %}'/>
    <ul class ='namelist'>
                <li>Press Information Bureau</li>
                <li class='name-goverment'>Goverment of India</li>
                {% comment %} <image class='asoka'src="{% static 'asoka.jpg'%}" {% endcomment %}
            </ul>
        </div> 

    </nav>
    {% block content %}

    
     {% endblock %} 
{% comment %} <footer class="foot">
        <div class="foot-1">
            <div class="pibinfo">
            <img src="{% static 'pib.jpg' %}" class="pib">
            <p class="gov">Press Information Bureau Government of India</p>
            </div>
            <div class="pibinfo1">
            <p >The Rashtrapati Bhavan</p>
            <p >Contact Us</p>
            </div>
        </div>
        <div class="line">
            <hr class="lines">
        </div>
        <div class="foot-2">
            <p >FOLLOW US</p>
            <p >Privacy Policy</p>
            <p>Accessibility Statement</p>
            <p>Copyright Information</p>
        </div>
    </footer>    {% endcomment %}
</body>
</html>