{% extends 'base.html' %}

{% block content %}
<!-- block content -->

<div class="flex">
  <div class=" flex justify-center container bg-gray-100 ml-20 mt-10 p-3 w-48 h-14 rounded-lg ">
    <div class="bg-blue-400 rounded-sm p-1 text-white font-semibold text-xl">
      12
    </div>
    <div class="bg-blue-400 rounded-sm ml-2 p-1 text-white font-semibold text-xl">
      12
    </div>
    <div class="bg-blue-400 rounded-sm ml-2 p-1 text-white font-semibold text-xl">
      AM
    </div>
    <div class="mt-2">
      <svg class="w-5 h-5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
      </svg>
    </div>
  </div>
  <div class="flex justify-center mt-6 w-1/2 ">
    
    <input type="text" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ml-16 mt-4  h-14 w-5/6 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Paste the url here" required>
  </div>
  <div  class=" flex justify-center container ml-10 mt-10 w-56 h-14 rounded-lg ">
    
<button type="button" class="focus:outline-none text-white bg-[#F99426] hover:bg-[#fdba74] focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-10 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">SUBMIT</button>

  </div>


</div>




<div class="container flex justify-center items-center">
  <div class="bg-gray-200 p-32 m-12 h-64 w-2/5 rounded-lg">
    NOT FOUND
  </div>
</div>
<div class="mx-28  bg-gray-100 rounded-xl">
<div class="grid grid-cols-2 gap-3 ">

  <div class="p-8 mx-8 my-10">
    <p class="text-3xl font-serif space-x-10">Israeli military says it mistakenly killed three Israeli hostages in Gaza</p>
    <p class="mt-5">Israeli military says it mistakenly killed three Israeli hostages in Gaza.Israeli military says it mistakenly killed three Israeli hostages in Gaza.Israeli military says it mistakenly killed three Israeli hostages in Gaza.Israeli military says it mistakenly killed three Israeli hostages in Gaza.Israeli military says it mistakenly killed three Israeli hostages in Gaza</p>
    </div>

  <div class="p-8 my-10">
    <p class="text-3xl font-serif space-x-10">Sentimental analysis</p>

    <p class="text-green-400 my-8">The acknowledgment by the Israeli military of the mistaken killing of three Israeli hostages in Gaza demonstrates transparency and a willingness to take responsibility for unintended actions. This openness can foster accountability and contribute to building trust, both domestically and internationally.</p>
    <p  class="text-red-400">The acknowledgment by the Israeli military of the mistaken killing of three Israeli hostages in Gaza demonstrates transparency and a willingness to take responsibility for unintended actions. This openness can foster accountability and contribute to building trust, both domestically and internationally.</p>

  </div>
</div>

</div>

<!-- endblock -->
{% endblock %}

