{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class='news-card header-card'>
    <h1 class='latest-releases'>Youtube Analysis</h1>
    <span>___________________________</span>
</div>

<style>
    
</style>
     
      {% for news in data%}
      <div class='news-card' >
          <ul class='news-contents-list'>
              <li class=" ">
  
  
  <p class='news-content-publisher'>{{news.channel_name}}</p>
  
</li>
<li>
  <a class='url_handler channel-details' href='{% url "youtube_data_analysis" id=news.id %}' ><p class='news-content-title'>{{news.title}}</p><p class='published_time news-content-publisher'>{{news.published_time_ago}}</p></a>
  
</li>
{% comment %} <li class='news-tone-card'>
<div class="tone-card">
        <div class='positive-block'>Published Date</div>
      <p class='tone-percentage'>{{news.published_time_ago}}</p>
  </div>  
  <div class="tone-card">
      <div class='positive-block'>Postive</div>
      <p class='tone-percentage'>{{news.POSITIVE}}</p>
  </div>
  <div class="tone-card">
      <div class='neutral-block'>Neutral</div>
      <p class='tone-percentage'>{{news.NEUTRAL}}</p>
  </div>
  <div class="tone-card">
      <div class='negative-block'>Negative</div>
      <p class='tone-percentage'>{{news.NEGATIVE}}</p>
  </div>
</li> {% endcomment %}
</ul>

<div class='news-image-card'>
   <img class='news-image' src='{{news.thumbnail}}' alt='loading'/> 
</div> 

</div>
{% endfor %}
{% endblock %}

