{% extends 'base.html' %}
{% load static %}


{% comment %} 
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="youtube-data-analysis">
   
         {% comment %} <div class="hero h-auto">
                <div class="hero-content  text-center">
                        
                  <div class="w-auto">
                        <img src="{% static 'modi.jpg'%}"  class="mb-3 w-fill" lt="loading">
                    <h1 class="text-5xl font-bold">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</h1>
                    <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                    
                  </div>
                </div>
              </div> 
               {% endcomment %}
               <input hidden id="summary_input" value="{{youtube_data.sentiment_analysis}}"></input>

               <div class="container">
                <div class="l-shape">
                    <div class="article">
                      <h3 class="text-2xl font-bold text-justify mb-3">{{youtube_data.title}}</h3>
                        <img src="{{youtube_data.thumbnail}}" alt="Image 1">
                        <p class="text-justify" id="dataSummary"></p>
                    </div>
                </div>
        
               <div class="rectangle">
                    <div class="article">
                      <div class="hero h-auto">
                       
                        <div class="hero-content  text-center">
                               
                          <div class="w-auto">
                          
                            <h3 class="text-2xl font-bold text-justify mb-3">Video Analysis </h3>
                           
                            
                           {% comment %}  {% endcomment %}
                         
                            <div class="analysed-data-container">
                            </div>
                            <form method="post">
                              {% csrf_token %} 
                              <input  value="{{youtube_data.link}}" name="obj_id" />
                              <input hidden value="{{youtube_data.id}}" name="obj_id" />
                              <button type="submit" id="negativeClips" class="btn mt-6">Negative Clips</button>
                            </form>
                             
                            {% comment %}  {% endcomment %}
                            {% comment %} <div class="carousel w-full">
                              <div id="item1" class="carousel-item w-full">
                                <video  controls src="" class="w-full" ><video/>
                              </div> 
                              <div id="item2" class="carousel-item w-full">
                                <img src="" class="w-full" />
                              </div> 
                              <div id="item3" class="carousel-item w-full">
                                <img src="" class="w-full" />
                              </div> 
                              <div id="item4" class="carousel-item w-full">
                                <img src="" class="w-full" />
                              </div>
                            </div> 
                            <div class="flex justify-center w-full py-2 gap-2">
                              <a href="#item1" class="btn btn-xs">1</a> 
                              <a href="#item2" class="btn btn-xs">2</a> 
                              <a href="#item3" class="btn btn-xs">3</a> 
                              <a href="#item4" class="btn btn-xs">4</a>
                            </div> {% endcomment %}
                            {% comment %}  {% endcomment %}
                          </div>
                          </div>
                       
                      </div> 
                    </div>
                </div>
            </div>



        <style>
          {% comment %}  {% endcomment %}

          .container {
            display: flex;
            justify-content: space-between;
            max-width: 90%;
            margin: 20px auto;
           
        }
       /* #myChart{
          width: 40% !important;
          height: 40% !important;
        } */
.sentiment-data-container{
 
  opacity: 1 !important;
}
        .l-shape {
            flex: 1;
            padding: 20px;
            width: 30%;
            background-color: #f2f2f2;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .analysed-data-container{
          display: flex;
          flex-wrap: wrap;  
          justify-content: justify; 
          color:black;
          background-color: #f2f2f2;
        }

        .rectangle {
            flex: 2;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .article {
            margin-bottom: 20px;
        }

        .article img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        h2 {
            color: #333;
        }

        .image-quarter {
            width: 25%;
            float: left;
            margin-right: 20px;
        }

        .text-three-quarters {
            width: 75%;
            float: left;
        }
          {% comment %}  {% endcomment %}
                .youtube-data-analysis{
                        border-radius: 10px; 
                        border: 0.5px solid #c5c1c1;
                         background: #FFF;
                        box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.25);
                        backdrop-filter: blur(40px);
                        width: 70%;
                        height: calc(var(--nav-listHeight) - 15vh);
                        background-color: #ffffff;
                        z-index: 999;
                        position: absolute;
                        bottom: 2rem;
                        overflow-y: scroll; 
                        box-sizing: border-box;
                        scrollbar-width: thin;
                        scrollbar-color: transparent transparent;
                    
                        &::-webkit-scrollbar {
                            width: 0; /* Set the width to 0 to hide the scrollbar */
                        }
                }
        </style>         
      
        <script>
          

        
        

          
          document.addEventListener('DOMContentLoaded', function() {
        
            
            const dataSummary = document.getElementById('dataSummary');
        
        
        
            const summary = document.getElementById('summary_input').value;
            const analysedData = JSON.parse(summary);
            console.log(analysedData);
            const analysedDataContainer = document.querySelector('.analysed-data-container');
            const summaryArray = [];
            analysedData.forEach((data)=>{
              
              summaryArray.push(data.subtitle);
              const tooltipData = data.SENTIMENT_ANALYSIS_RESULT.concat(" | ",data.start_time,"seconds"," - ",data.end_time,"seconds")
              const dataContainer = document.createElement('div');
              const dataContent = document.createElement('p');
              dataContainer.classList.add('tooltip');
              dataContainer.classList.add('mt-3');
              dataContainer.classList.add('mb-3');
              dataContent.classList.add('font-semibold');
               
              dataContainer.classList.add('sentiment-data-container');
              dataContainer.setAttribute('data-tip', tooltipData);
              if (data.SENTIMENT_ANALYSIS_RESULT == 'POSITIVE') {
                dataContent.classList.add('text-green-600');
              }
              else if (data.SENTIMENT_ANALYSIS_RESULT  == 'NEGATIVE'){
                dataContent.classList.add('text-red-700');
                dataContent.classList.add('text-lg');
              }
              else if (data.SENTIMENT_ANALYSIS_RESULT  == 'NEUTRAL'){
                dataContent.classList.add('text-cyan-800');
              }
              else{
                dataContent.classList.add('text-red-800');
              }
              dataContent.innerHTML = data.subtitle;
              dataContainer.appendChild(dataContent);
              analysedDataContainer.appendChild(dataContainer);
             
            })
            if (summaryArray.length > 0){
              dataSummary.innerHTML = summaryArray.join(" ");
            }
            else{
              dataSummary.innerHTML = "No data found";
            }
        });
        
        </script> 
        {% endblock %}
        
      
       
       
   